In [3]:
#함수의 정의
print("별10개 찍기")
for i in range(10):#0~9까지 반복 총 10번
    print("*",end="")#반복문이 돌떄마다 * 추가,end=""를 넣음으로 옆으로 출력
print("\n")#줄바꿈

print("별3개 찍기")
for i in range(3):#0~2까지 반복 총 3번
    print("*",end="")#반복문이 돌떄마다 * 추가,end=""를 넣음으로 옆으로 출력
print("\n")#줄바꿈

print("별5개 찍기")
for i in range(5):#0~4까지 반복 총 5번
    print("*",end="")#반복문이 돌떄마다 * 추가,end=""를 넣음으로 옆으로 출력
print("\n")#줄바꿈

별10개 찍기
**********

별3개 찍기
***

별5개 찍기
*****

In [6]:
def starprint(n):
    for i in range(n):#n 만큼 반복문
        print("*",end="")#n만큼 * 옆으로 추가
    print("\n")#줄바꿈
print("별10개 찍기");starprint(10)#n=10 만큼 별 출력
print("별3개 찍기");starprint(3)#n=3 만큼 별 출력
print("별5개 찍기");starprint(5)#n=5 만큼 별 출력

별10개 찍기
**********

별3개 찍기
***

별5개 찍기
*****

In [7]:
#인수
def intsum(n):
    sum=0;
    for i in range(1,n+1,1):#1부터 n까지의 합을 계산하는 함수
        sum+=i#누적
    return sum
print("1~10까지의 합:",intsum(10))#인수대입
print("1~1000까지의 합:",intsum(1000))#인수대입
print("1~10000까지의 합:",intsum(10000))#인수대입

1~10까지의 합: 55
1~1000까지의 합: 500500
1~10000까지의 합: 50005000

In [9]:
def intsum(x,y):
    sum=0;
    for i in range(x,y+1,1):#x부터 y까지의
        sum+=i#합
    return sum
print("1~10까지의 합:",intsum(1,10))#인수대입
print("1~1000까지의 합:",intsum(100,1000))#인수대입
print("1~10000까지의 합:",intsum(5000,10000))#인수대입

1~10까지의 합: 55
1~1000까지의 합: 495550
1~10000까지의 합: 37507500

In [10]:
#return 값
def intsum(x,y):
    sum=0;
    for i in range(x,y+1,1):#x부터 y까지의
        sum+=i#합
    return sum#sum값을 return
print("1~10까지의 합에 5를 더함:",intsum(1,10)+5)#인수대입
i=intsum(100,1000)*33
print("100~1000까지의 합에 33을 곱함:",i)

1~10까지의 합에 5를 더함: 60
100~1000까지의 합에 33을 곱함: 16353150

In [11]:
def intsum(x,y):
    sum=0;
    for i in range(x,y+1,1):#x부터 y까지의
        sum+=i#합
    print("함수내부에서 sum값을 출력:",sum)
i=intsum(100,1000)
print("100~1000까지의 합:",i)#위에 리턴값이 없으므로 값이 없는 none출력
print("100~1000까지의 합에 33을 곱함:",i)#위에 리턴값이 없으므로 값이 없는 none출력

함수내부에서 sum값을 출력: 495550
100~1000까지의 합: None
100~1000까지의 합에 33을 곱함: None

In [15]:
#pass
def titleprint():
    #pass
    print("="*50)#=를 50개 출력
    print("이름\t국어\t영어\t수학\t총점\t평균")#이름 국어 영어 수학 총점 평균 출력
    print("="*50)#=를 50개 출력
def itemprint(name,kor,eng,mat):
    #pass
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)
def tailprint():
    #pass
    totkor=0#국어 총점
    for i in ckor:#ckor만큼 반복문시작
        totkor+=i#국어 총점 누적하기
    toteng=0#영어 총점
    for i in ceng:#ceng만큼 반복문시작
        toteng+=i#영어 총점 누적하기
    totmat=0#수학 총점
    for i in cmat:#cmat만큼 반복문시작
        totmat+=i#수학 총점 누적하기
    print("="*50)#=를 50개 출력
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t"
    ,round((totkor+toteng+totmat)//9),"\t",round((totkor+toteng+totmat)/3//9))
    print("="*50)#=를 50개 출력
#데이터
cname=["나연","정연","모모","사나","지효","미나","다현","채영","쯔위"]
ckor=[100,100,90,90,100,80,70,80,100]
ceng=[90,100,100,80,100,70,60,100,100]
cmat=[100,80,100,90,100,90,100,90,100]
#프로그램
titleprint()
for i in range(9):
    itemprint(cname[i],ckor[i],ceng[i],cmat[i])
tailprint()

==================================================
이름	국어	영어	수학	총점	평균
==================================================
나연 	 100 	 90 	 100 	 290 	 96
정연 	 100 	 100 	 80 	 280 	 93
모모 	 90 	 100 	 100 	 290 	 96
사나 	 90 	 80 	 90 	 260 	 86
지효 	 100 	 100 	 100 	 300 	 100
미나 	 80 	 70 	 90 	 240 	 80
다현 	 70 	 60 	 100 	 230 	 76
채영 	 80 	 100 	 90 	 270 	 90
쯔위 	 100 	 100 	 100 	 300 	 100
==================================================
반총점	 810 	 800 	 850 	 273 	 91
==================================================

In [16]:
#가변인수
def sumsum(*num):#*은 인수의 개수가 여러개일때 인수명 앞에 사용
    sum=0
    for i in num:#인수(num)의 개수만큼 반복문
        sum+=i
    return sum
print("case 1:", sumsum(1))
print("case 2:", sumsum(1,2,4))
print("case 3:", sumsum(1,2,34,567,8901))

case 1: 1
case 2: 7
case 3: 9505

In [18]:
def sumsum(num):
#인수는 1개이며 해당 인수가 리스트 형이기 때문에 한 개의 변수에 리스트 값을 입력하여 전달
    sum=0
    for i in num:#인수(num)의 개수만큼 반복문
        sum+=i
    return sum
print("case 1:", sumsum([1]))
print("case 2:", sumsum([1,2,4]))
print("case 3:", sumsum([1,2,34,567,8901]))

case 1: 1
case 2: 7
case 3: 9505

In [19]:
#디폴트 값 처리
def defaultest (start, end=100,step=1):
    sum=0
    for i in range(start,end+1,step):
        sum+=i
    return sum
print("case 1:", defaultest(0,10,1))#인수하나를 생략시 맨뒤 step값이 1로 기본값처리 
print("case 2:", defaultest(50,100))#인수하나를 생략시 맨뒤 step값이 1, #end 값이 1000으로 기본값처리 
print("case 3:", defaultest(100))

case 1: 55
case 2: 3825
case 3: 100

In [24]:
#키워드 인수
def defaultest (start,end=1000,step=1): 
    sum=0
    for i in range(start,end+1,step): 
        sum+=i
    return sum
print("case 1:", defaultest(0,10,1))
print("case 2:", defaultest(start=0,end=10,step=1))#키워드 지정시 순서가 상관없음
print("case 3:", defaultest(step=1,end=10,start=0))#맨뒤로 부터만 키워드 인수를 사용,앞은 일반인수 
print("case 4:", defaultest(0,10,step=1))#맨뒤로 부터만 키워드 인수를 사용,앞은 일반인수 
print("case 5:", defaultest(0,step=1,end=10))

case 1: 55
case 2: 55
case 3: 55
case 4: 55
case 5: 55

In [25]:
#키워드 가변 인수
def testfunc (**args):
    start=args["start"]#키워드 가변 
    end=args["end"]#키워드 가변 
    step=args["step"]#키워드 가변 
    sum=0
    for i in range(start,end+1,step): 
        sum+=i
    return sum
print("case 1:", testfunc(start=0,end=10,step=1)) 
print("case 2:", testfunc(end=100,step=1,start=10))

case 1: 55
case 2: 5005

In [28]:
def testfunc (*s,**args): 
    start=args["start"] 
    end=args["end"]    
    step=args["step"]  
    for c in s:
        print(" "*start,end="")
        for i in range(start,end+1,step): 
            print(c,end="")
        print("\n") 
print("="*30)
testfunc("*","&","=",start=0,end=10,step=1) 
print("="*30)
testfunc("*","?","=","%",start=3,end=10,step=1)

==============================
***********

&&&&&&&&&&&

===========

==============================
   ********

   ????????

   ========

   %%%%%%%%

In [30]:
#전역변수,지역변수
def test():
    a=1
test()
print(a) # 함수에서 사용된 지역변수는 다른 함수나 메인에서 해당변수를 가져다 사용불가

NameError: name 'a' is not defined

In [31]:
def testf1(): 
    a=1
    print("testf1:",a)
def testf2():
    a="즐거운    실습"
    print("testf2:",a)
def testf3(): 
    a=3.141592 
    print("testf3:",a)
#위에 선언된 변수는 이름만 같을뿐 전혀 다른변수임
testf1()
testf2()
testf3() 
a="랄랄라" 
print(a)

testf1: 1
testf2: 즐거운    실습
testf3: 3.141592
랄랄라

In [34]:
def testf1():
    print("testf1: 현재 달러환율은 1달러당",exrate,"원이며") 
    print("testf1: 미화 100달러는",100*exrate,"원 입니다")
def testf2(): 
    exrate=1011
    print("testf2: 현재 달러환율은 1달러당",exrate,"원이며") 
    print("testf2: 미화 100달러는",100*exrate,"원 입니다")

exrate=1021
testf1() 
exrate=1120
testf1()
testf2() #testf2를 불러온다
testf1() #testf1을 불러온다

testf1: 현재 달러환율은 1달러당 1021 원이며
testf1: 미화 100달러는 102100 원 입니다
testf1: 현재 달러환율은 1달러당 1120 원이며
testf1: 미화 100달러는 112000 원 입니다
testf2: 현재 달러환율은 1달러당 1011 원이며
testf2: 미화 100달러는 101100 원 입니다
testf1: 현재 달러환율은 1달러당 1120 원이며
testf1: 미화 100달러는 112000 원 입니다

In [37]:
#docstring
def testf1(): 
    """
이 함수는 홍필두 교수님이 최선을 다하여 멋지게 만든 함수
인수값에 숫자만큼 1부터 해당 값을 더한 값을 출력해 준다 
"""
    sum=0
    for i in range(n+1): 
        sum+=i
    print("합:",sum)
help(testf1)

Help on function testf1 in module __main__:

testf1()
    이 함수는 홍필두 교수님이 최선을 다하여 멋지게 만든 함수
    인수값에 숫자만큼 1부터 해당 값을 더한 값을 출력해 준다