In [1]:
#리스트의 정의
a=[1,2,3,4,5]#a라는 리스트에 1,2,3,4,5를 정의
a[0],a[1],a[2],a[3],a[4]#a리스트0번부터 4번까지 출력

(1, 2, 3, 4, 5)

In [3]:
a=[11,"abc",12.3333,"안녕",2+3j]#a라는 리스트에 11,"abc",12.3333,"안녕",2+3j를 정의
a[0],a[1],a[2],a[3],a[4]#a리스트0번부터 4번까지 출력

(11, 'abc', 12.3333, '안녕', (2+3j))

In [4]:
a[1]=1234;a[4]="홍길동"#a[1]번 리스트를 1234로 교체,a[4]를 홍길동으로 교체
a#a출력

[11, 1234, 12.3333, '안녕', '홍길동']

In [5]:
score=[90,80,70,60,30]#score리스트 정의
sum=0#sum 정의
for s in score:#score 크기(사이즈)만큼 반복문 시작
    print("점수(",s,")")#반복문을 돌면서 s(score) 출력
    sum+=s#s(score) 를 sum에 누적
print("총점:",sum)#for문이 다돌면 누적점수sum을 출력

점수( 90 )
점수( 80 )
점수( 70 )
점수( 60 )
점수( 30 )
총점: 330

In [166]:
#리스트의 표현 방식
a=[1,2,3,4,5]#a리스트 선언
print(a[0],a[-5])#a리스트에 0번째와 뒤에서 5번째 즉 0번째 를 출력
print(a[1],a[-4])#a리스트에 1번째와 뒤에서 4번째 즉 1번째 를 출력
print(a[2],a[-3])#a리스트에 2번째와 뒤에서 3번째 즉 2번째 를 출력
print(a[3],a[-2])#a리스트에 3번째와 뒤에서 2번째 즉 3번째 를 출력
print(a[4],a[-1])#a리스트에 4번째와 뒤에서 1번째 즉 4번째 를 출력

1 1
2 2
3 3
4 4
5 5

In [17]:
a=[1,2,3,4,5,6,7,8,9,10]
a[2:8]#2부터 8보다 작을때까지 (:)기억하기(숫자가 아니라 리스트의 위치)

[3, 4, 5, 6, 7, 8]

In [15]:
a[:4]#리스트의 0부터 4번째보다 작을때 까지 출력

[1, 2, 3, 4]

In [18]:
a[5:]#리스트의  5번째 부터 출력

[6, 7, 8, 9, 10]

In [20]:
a[0:6:3]#리스트의 0부터 6까지 3씩증가(a[0],a[3])및 출력

[1, 4]

In [22]:
#다중 리스트
a=[[1,2,3],[4,5,6],[7,8,9]]#리스트로 구성된 리스트
a[2]

[7, 8, 9]

In [23]:
a[2][2]#a[2]의 3번째내용 출력

9

In [24]:
a[1][3]#a[1]리스트는 0~2까지밖에 없어서 범위를 벗어나 오류

IndexError: list index out of range

In [25]:
a[1][2]#[1]리스트의 두번째 출력

6

In [28]:
a=[[1,2],[3,4,5],6]#a리스트에 대입
a

[[1, 2], [3, 4, 5], 6]

In [29]:
a[2]#a리스트의 3번째 출력(6)

6

In [30]:
a[1]#a리스트의 2번째 내용 출력

[3, 4, 5]

In [31]:
#리스트 컴프리헨션
a=[n*3 for n in range(1,10)]#1~9까지 n에 대입 후 3씩 곱하기
a

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [32]:
a=[n*3 for n in range(1,10) if n %2==0]
#1~9까지 n에 대입 후 3씩 곱하고 2로나눌시0일때만 
a# 출력

[6, 12, 18, 24]

In [108]:
#리스트 연습
def itemprint(name,kortotal,engtotal,mattotal):#함수선언
    #리스트 정의
    score = [["나연",100,90,100],["정연",100,100,80],["모모",90,100,100],["사나",90,80,90],
             ["지효",100,100,100],["미나",80,70,90],["다현",70,60,100],
             ["채영",80,100,90],["쯔위",100,100,100]]
    name=0;kor=1;eng=2;mat=3  
for one_student in score:#one_student에 score넣기
    total = [int(one_student[kor])+int(one_student[eng])+int(one_student[mat])]#과목별 총합
    ave = [round((int(one_student[kor])+int(one_student[eng])+int(one_student[mat]))/3)]#평균구하기
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])#함수를 불러와서 리스트의 이름,과목 넣기 
    print(one_student,total,ave)#이름, 과목별 점수, 총합, 평균 출력

['나연', 100, 90, 100] [290] [97]
['정연', 100, 100, 80] [280] [93]
['모모', 90, 100, 100] [290] [97]
['사나', 90, 80, 90] [260] [87]
['지효', 100, 100, 100] [300] [100]
['미나', 80, 70, 90] [240] [80]
['다현', 70, 60, 100] [230] [77]
['채영', 80, 100, 90] [270] [90]
['쯔위', 100, 100, 100] [300] [100]

In [ ]:
def titleprint():
    pass

def itemprint(name,kortotal,engtotal,mattotal):#함수선언
    pass
def tailprint():
    pass

    #리스트 정의
score = [["나연",100,90,100],["정연",100,100,80],["모모",90,100,100],["사나",90,80,90],
         ["지효",100,100,100],["미나",80,70,90],["다현",70,60,100],
         ["채영",80,100,90],["쯔위",100,100,100]]
name=0;kor=1;eng=2;mat=3  
titleprint()
for one_student in score:#one_student에 score넣기
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])#함수를 불러와서 리스트의 이름,과목 넣기 
tailprint()

In [111]:

def titleprint():#함수선언
    print("="*50)#=를 50개 출력
    print("이름\t국어\t영어\t수학\t총점\t평균")#이름 국어 영어 수학 총점 평균 출력
    print("="*50)#=를 50개 출력
def itemprint(name,kor,eng,mat):#이름 국어 영어 수학이 들어간  함수선언
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)

def tailprint():
    totkor=0#국어 총점
    toteng=0#영어 총점
    totmat=0#수학 총점
    for one_student in score:#one_student에 score넣기
        totkor+=one_student[kor]#국어 총점을 누적하기 
        toteng+=one_student[eng]#영어 총점을 누적하기 
        totmat+=one_student[mat]#수학 총점을 누적하기 
    print("="*50)#=를 50개 출력
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t"
    ,round((totkor+toteng+totmat)//9),"\t",round((totkor+toteng+totmat)/3//9))
    #반총점, 국어총점, 영어총점, 수학총점, 총점평균, 평균 출력
    print("="*50)#=를 50개 출력
  
    #리스트 정의
score = [["나연",100,90,100],["정연",100,100,80],["모모",90,100,100],["사나",90,80,90],
         ["지효",100,100,100],["미나",80,70,90],["다현",70,60,100],
         ["채영",80,100,90],["쯔위",100,100,100]]
name=0;kor=1;eng=2;mat=3  
titleprint()
for one_student in score:#one_student에 score넣기
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])#함수를 불러와서 리스트의 이름,과목 넣기 
tailprint()

==================================================
이름	국어	영어	수학	총점	평균
==================================================
나연 	 100 	 90 	 100 	 290 	 96
정연 	 100 	 100 	 80 	 280 	 93
모모 	 90 	 100 	 100 	 290 	 96
사나 	 90 	 80 	 90 	 260 	 86
지효 	 100 	 100 	 100 	 300 	 100
미나 	 80 	 70 	 90 	 240 	 80
다현 	 70 	 60 	 100 	 230 	 76
채영 	 80 	 100 	 90 	 270 	 90
쯔위 	 100 	 100 	 100 	 300 	 100
==================================================
반총점	 810 	 800 	 850 	 273 	 91
==================================================

In [116]:
#리스트 삽입, 삭제
a=[1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [117]:
del a[2]#a리스트 2번쨰요소 삭제
a

[1, 2, 4, 5]

In [118]:
del a[2]#a리스트 2번쨰요소 삭제
a

[1, 2, 5]

In [120]:
a.clear()#리스트 전부 지움
a

[]

In [122]:
a.append(1)#리스트가 정의되어 있지 않은 경우 추가 불가

NameError: name 'a' is not defined

In [124]:
a=[]#리스트 정의
a.append(1)#리스트에 1값의 리스트요소 추가
a.append(3)#리스트에 3값의 리스트요소 추가
a.append(5)#리스트에 5값의 리스트요소 추가
a

[1, 3, 5]

In [125]:
a=[4,5,6]#기존 리스트를 무시하고 다시정의
a.append(10)#리스트에 10값의 리스트요소 추가
a

[4, 5, 6, 10]

In [129]:
a=[1,2,3,4,5]
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [130]:
a.insert(3,12)#3뒤에 12추가
a

[1, 2, 3, 12, 4, 5, 6]

In [131]:
a.insert(4,15)#4뒤에 15추가
a

[1, 2, 3, 12, 15, 4, 5, 6]

In [132]:
a.insert(3,1)#3뒤에 1추가
a

[1, 2, 3, 1, 12, 15, 4, 5, 6]

In [133]:
a[5:5]=[1,2,3,4,5,6]#5에서 5까지 영역에 해당 리스트 값을 대입
a

[1, 2, 3, 1, 12, 1, 2, 3, 4, 5, 6, 15, 4, 5, 6]

In [135]:
a=[1,2,3]
b=[4,5,6]
a=a+b
a

[1, 2, 3, 4, 5, 6]

In [140]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]
a.remove(7)#첫 번째 만나는 7값을 가진 리스트 삭제
a
a.remove(7)#첫 번째 만나는 7값을 가진 리스트 삭제
a[5]=[]
a[2:4]=[]
a

[1, 2, 4, [], 5, 6, 7, 7, 8]

In [141]:
del(a[4])#리스트 요소 제거
a

[1, 2, 4, [], 6, 7, 7, 8]

In [142]:
a.pop()#맨 마지막 요소 리턴하고 제거

8

In [143]:
a.pop(3)#4번쨰 요소 리턴하고 제거

[]

In [146]:
#리스트 검색
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]
a.index(7)#리스트 요소중 7의 위치
a.index(8)#리스트 요소중 8의 위치
a.index(4)#리스트 요소중 4의 위치
a.count(7)#리스트 요소중 7dml 개수

4

In [149]:
print(min(a),max(a),len(a))
#min=리스트요소중 가장 작은 요소
#max=리스트요소중 가장 큰 요소
#len=리스트요소의 개수

1 8 13

In [150]:
a=[1,8,5,6,2,4,52,6,9,4]
a.reverse()#리스트 요소를 역순으로
a

[4, 9, 6, 52, 4, 2, 6, 5, 8, 1]

In [152]:
a.sort()#리스트 요소를 오름차순으로 정렬
a

[1, 2, 4, 4, 5, 6, 6, 8, 9, 52]

In [158]:
#심화학습
import random as r
def titleprint():
    print("="*50)#=를 50개 출력
    print("이름\t국어\t영어\t수학\t총점\t평균")#이름 국어 영어 수학 총점 평균 출력
    print("="*50)#=를 50개 출력
def itemprint(name,kor,eng,mat):
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)
def tailprint():
    totkor=0#국어 총점
    toteng=0#영어 총점
    totmat=0#수학 총점
    for one_student in score:#one_student에 score넣기
        totkor+=one_student[kor]#국어 총점을 누적하기 
        toteng+=one_student[eng]#영어 총점을 누적하기 
        totmat+=one_student[mat]#수학 총점을 누적하기 
    print("="*50)#=를 50개 출력
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t"
    ,round((totkor+toteng+totmat)//9),"\t",round((totkor+toteng+totmat)/3//9))
    #반총점, 국어총점, 영어총점, 수학총점, 총점평균, 평균 출력
    print("="*50)#=를 50개 출력
one_person=[]
score=[]
for i in range(10):#100은 너무 많아서 10으로 줄여줌
    one_person.append("name"+str(i))#이름
    one_person.append(r.randrange(10,100))#국어 10~100까지 임의값 추출
    one_person.append(r.randrange(10,100))#영어 10~100까지 임의값 추출
    one_person.append(r.randrange(10,100))#수학 10~100까지 임의값 추출
    score.append(one_person[:])#값을 복사해서 추가
    one_person.clear()
name=0;kor=1;eng=2;mat=3
titleprint()
for one_student in score:
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])#함수를 불러와서 리스트의 이름,과목 넣기 
tailprint()

==================================================
이름	국어	영어	수학	총점	평균
==================================================
name0 	 69 	 75 	 86 	 230 	 76
name1 	 60 	 72 	 97 	 229 	 76
name2 	 59 	 52 	 51 	 162 	 54
name3 	 33 	 94 	 99 	 226 	 75
name4 	 72 	 45 	 18 	 135 	 45
name5 	 17 	 72 	 46 	 135 	 45
name6 	 49 	 66 	 73 	 188 	 62
name7 	 59 	 93 	 62 	 214 	 71
name8 	 59 	 63 	 43 	 165 	 55
name9 	 41 	 70 	 64 	 175 	 58
==================================================
반총점	 518 	 702 	 639 	 206 	 68
==================================================

In [163]:
#튜플
a=(1,8,5,6,2,4,5,2,6,9,4)
a[5]#a[5]의 값 조회
a[3:5]#a의 3,4번쨰 값 조회(:를 기준으로 앞이면 포함 뒤면 불포함이다)
a[3:8]#a의3~7번쨰 요소까지 조회
a*2#a를 두번 출력

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [164]:
a[1]=5#값 변경 불가
del a[4]#변수 지우기 불가
a.append(10)#변수 추가 불가

TypeError: 'tuple' object does not support item assignment

In [165]:
def location():
    latitude = 2, 17403 #위도
    longitude = 41,40338 #경도
    return latitude, longitude#튜플 반환
a=location()
print(a)

((2, 17403), (41, 40338))