In [1]:
#딕셔너리의 정의
a={"이름":"홍길동","국어":100,"영어":88,"수학": 95}
a["수학"]#수학이라는 키를 방식으로 95점 출력
a["이름"]#이름이라는 키를 방식으로 홍길동 출력

'홍길동'

In [3]:
print(a.keys())#키값만 출력
print(a.values())#벨류값만 출력
print(a.items())#키,벨류 둘다 출력

dict_keys(['이름', '국어', '영어', '수학'])
dict_values(['홍길동', 100, 88, 95])
dict_items([('이름', '홍길동'), ('국어', 100), ('영어', 88), ('수학', 95)])

In [7]:
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95} 
for i in a.items():#키,벨류 둘다 출력
    print(i,end=",")
print("\n")
for i in a.keys():#키값만 출력
    print(i,end=",") 
print("\n")
for i in a.values():#벨류값만 출력
    print(i,end=",")

('이름', '홍길동'),('국어', 100),('영어', 88),('수학', 95),

이름,국어,영어,수학,

홍길동,100,88,95,

In [8]:
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95} 
print(a.get("과학"))#과학의 벨류값 출력 하지만 과학이 없어서 넌값 출력
print(a.get("과학","없는과목입니다")) 
#과학의 벨류값 출력 하지만 과학이 없으면 없는과목입니다 출력
print(a.get("수학","없는과목입니다"))
#수학의 벨류값 출력 하지만 수학이 없으면 없는과목입니다 출력

None
없는과목입니다
95

In [9]:
#딕셔너리 예제
text="""안녕하셔요.오늘은 날씨가 매우 화창합니다.
그래서 기분이 매우 좋네요
너도 기분이 좋은가요? 랄라랄랄라라라라라라 abc임마""" 
a=dict()#딕셔너리 정의
for c in text:#위에 정의한 텍스트를 하나씩 추출하여 처리
    if c not in a:#추출글자가 지금까지의 딕셔너리에 없다면 
        a[c]=1#그때는 최초 1값으로 시작
else: #이 경우는 해당 추출글자의 딕셔너리가 있다면 
    a[c] +=1#그럼 해당 딕셔너리 키에 해당되는 값을 하나더함
print(a)

{'안': 1, '녕': 1, '하': 1, '셔': 1, '요': 1, '.': 1, '오': 1, '늘': 1, '은': 1, ' ': 1, '날': 1, '씨': 1, '가': 1, '매': 1, '우': 1, '화': 1, '창': 1, '합': 1, '니': 1, '다': 1, '\n': 1, '그': 1, '래': 1, '서': 1, '기': 1, '분': 1, '이': 1, '좋': 1, '네': 1, '너': 1, '도': 1, '?': 1, '랄': 1, '라': 1, 'a': 1, 'b': 1, 'c': 1, '임': 1, '마': 2}

In [10]:
b=dict()#딕셔너리 정의
l=list(a.keys())#a딕서너리에 키만 뽑아 리스트를 만든다 
l.sort()#해당 리스트 내림차순
for c in l:#각 리스트에 대하여 키값을 하나씩 뽑음 
    b[c]=a[c]#새로운 딕셔너리는 키값 순서데로 다시 만든다
print(b)

{'\n': 1, ' ': 1, '.': 1, '?': 1, 'a': 1, 'b': 1, 'c': 1, '가': 1, '그': 1, '기': 1, '날': 1, '너': 1, '네': 1, '녕': 1, '늘': 1, '니': 1, '다': 1, '도': 1, '라': 1, '랄': 1, '래': 1, '마': 2, '매': 1, '분': 1, '서': 1, '셔': 1, '씨': 1, '안': 1, '오': 1, '요': 1, '우': 1, '은': 1, '이': 1, '임': 1, '좋': 1, '창': 1, '하': 1, '합': 1, '화': 1}

In [13]:
#집합의 정의
a={1,2,2,2,2,3,3,3,4,5} 
print(a)
print(set(("a",1,2)))
print(set("a"))
print(set({"이름":"홍길동", "국어":100, "영어":88, "수학": 95}))

{1, 2, 3, 4, 5}
{1, 2, 'a'}
{'a'}
{'국어', '수학', '영어', '이름'}

In [14]:
a={1,2,3,4,5} 
print(a)
a.add(0)#a에 0추가
print(a)
a.add(2.4) #a에 2.4 추가
print(a)
a.remove(3)#a에 있는 4번째 요소 제거
print(a)

{1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5, 2.4}
{0, 1, 2, 4, 5, 2.4}

In [15]:
A={1,2,3,4,5,6,7}
B={7,8,9,10}
print(A|B)#A,B의 합집합
print(A&B)#A,B의 교집합
print(A-B)#A,B의 차집합

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{7}
{1, 2, 3, 4, 5, 6}

In [16]:
print({1,2,3} < {1,2})
print({1,2,3} > {1,2})
print({1,2,3} >= {1,2})
print({1,2,3} == {1,2})
print({1,2,3} >= {3,1,2})
print({1,2,3} == {3,1,2})

False
True
True
False
True
True

In [18]:
#컬렉션으로 변환
a=["a","b","c","d","e"] 
b={}
for i in range (len(a)):
    b[i]=a[i]#a는 리스트 b는 딕셔너리 
b

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [20]:
a=["a","b","c","d","e"]
b=enumerate(a) 
print(b) 
b=dict(enumerate(a)); c=list(enumerate(a)) #딕셔너리와 리스트를 만든다 
print(b)
print(c)

<enumerate object at 0x000002A02DF27500>
{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}
[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [22]:
a={1,2,3,4,5,6,7,8}#집합
b={"a","b","c","d","e"}#집합
print(zip(a,b))#zip만으로는 단순히 object임
c=dict(zip(a,b));d=list(zip(a,b)) 
print(c)
print(d)
a=(1,2,3,4,5,6,7,8) #튜플a
b=["a","b","c","d","e"] #리스트 
c=dict(zip(a,b));d=list(zip(a,b)) 
print(c)
print(d)

<zip object at 0x000002A02DF2CC40>
{1: 'e', 2: 'c', 3: 'a', 4: 'd', 5: 'b'}
[(1, 'e'), (2, 'c'), (3, 'a'), (4, 'd'), (5, 'b')]
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [23]:
#함수인자에 컬렉션 값을 차례로 대입
def func(x):
    return x/2
x=(1,2,3,4,5,6)
for i in filter(func,x):#func에 x를 대입
    print(i)

1
2
3
4
5
6

In [24]:
def func(x,y):
    return x+y 

x=(1,2,3,4,5,6)
y=(7,8,9,10,11,12) 
for i in map(func,x,y): #filter를 사용하면 안된다
    print(i)

8
10
12
14
16
18

In [25]:
x=(1,2,3,4,5,6)
y=(7,8,9,10,11,12) 
for i in map(lambda x,y:x+y,x,y):
    print(i)

8
10
12
14
16
18

In [27]:
#컬렉션 주의사항
a=[1,2,3] 
b=a #b는 a라고 선언
b[2]=5 #b의 3번째 요소를 5이라고 선언
print(a)#b의 3번째 요소를 5라고 선언해서 a의3번째요소도 5으로 바뀜
print(b)
b[1]=3 #b의 2번쨰 요소가 3이라고 선언
print(a)#b의 2번쨰요소가 3이라고 선언해서 b의 2번쨰 요소도 3으로 바뀜

[1, 2, 5]
[1, 2, 5]
[1, 3, 5]

In [43]:
a=[1,2,3] 
b=a[:] 
b[2]=5 
print(a,"\n",b)

[1, 2, 3]
 [1, 2, 5]

In [44]:
a=[1,2,3] 
b=a.copy() 
b[2]=5 
print(a,"\n",b)

[1, 2, 3]
 [1, 2, 5]

In [46]:
a=[[1,2],3,4] 
b=a.copy() 
print(b)
b[0][1]=3 
print(b)
print(a)
a=[[1,2],3,4] 
b=a[:]
print(b)
b[0][1]=3 
print(a)

[[1, 2], 3, 4]
[[1, 3], 3, 4]
[[1, 3], 3, 4]
[[1, 2], 3, 4]
[[1, 3], 3, 4]

In [47]:
import copy as c 
a=[[1,2],3,4]
b=c.deepcopy(a) 
b[0][1]=3
print(a,b)

[[1, 2], 3, 4] [[1, 3], 3, 4]