In [32]:
a=1
b=2
a+b
print(a+b)
1+2
print(1+2)

3
3

In [33]:
a="아침"
b="점심"
c="저녁"
print(a,b,c)
print(a,b,c, sep="먹고 ")
print(a,b,c, sep="먹고 " ,end="땡")

아침 점심 저녁
아침먹고 점심먹고 저녁
아침먹고 점심먹고 저녁땡

In [34]:
a="아침"
b="점심"
c="저녁"
print(a,b,c)
print(a,b,c, sep="먹고 ")
print(a,b,c, sep="먹고 " ,end="")
print(a,b,c, sep="자고 " ,end="")
print(a,b,c, sep="먹고 " ,end="\n")
print(a,b,c, sep="자고 " ,end="\n")

아침 점심 저녁
아침먹고 점심먹고 저녁
아침먹고 점심먹고 저녁아침자고 점심자고 저녁아침먹고 점심먹고 저녁
아침자고 점심자고 저녁

In [35]:
a=22
b=33
print(a,b, sep="+" ,end="=")
print(a+b)

22+33=55

In [37]:
a= input("너의 이름이 뭐니?")
print("이름이",a,"입니다")
b= input("너는 몇 살이니?")
print("나이가",b,"살 입니다")

너의 이름이 뭐니?홍길동
이름이 홍길동 입니다
너는 몇 살이니?12
나이가 12 살 입니다

In [39]:
a=input("a값을 입력하세요?")
b=input("b값을 입력하세요?")
print(a,b, sep="+",end="=")
print(a+b)
print("수치 계산", end =":")
print(int(a)+int(b))

a값을 입력하세요?1
b값을 입력하세요?2
1+2=12
수치 계산:3

In [40]:
a=input("품목?")
b=int(input("수량?"))
c=int(input("단가?"))
print(a, " : ",b,"개 * ",c,"원 = 총 ", b*c, "원")

품목?초코파이
수량?10
단가?100
초코파이  :  10 개 *  100 원 = 총  1000 원

In [41]:
a=1
print(a)

a=2
print(a)

b=3
print(b)

print(a)

1
2
3
2

In [44]:
a=1122;print(a);type(a)
b="hello";print(b);type(b)

1122
hello

str

In [45]:
a=1122;print(a);type(a)
a=11;print(a)

del a
print(a)

1122
11

NameError: name 'a' is not defined

In [46]:
net=100;qty=1000;total=net*qty;print(total)

단가=100;수량=1000;총합=단가*수량;print(총합)

100000
100000